input {
    keyboard {
        xkb {
            layout "us,ru"
        }
    }

    touchpad {
        tap
        dwt
        dwtp
        natural-scroll
    }

    mouse {
        accel-speed 0.2
    }

    warp-mouse-to-focus
    disable-power-key-handling
}
