layout {
    gaps 9

    center-focused-column "never"
    always-center-single-column
   
    preset-column-widths {
        proportion 0.3
        proportion 0.5
        proportion 0.8
    }

    preset-window-heights {
        proportion 0.3
        proportion 0.5
        proportion 0.8
        proportion 1.0
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 1
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        off
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

