spawn-at-startup "fcitx5"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "brightnessctl" "set" "20%"
spawn-at-startup "swww-daemon"

environment {
    QT_QPA_PLATFORMTHEME "qt6ct"
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

cursor {
    hide-when-typing
    hide-after-inactive-ms 5000
    xcursor-size 32
}

layer-rule {
    match namespace="swww"
    place-within-backdrop true
}
overview {
    zoom 0.7
    backdrop-color "transparent"
}

clipboard {
    disable-primary
}

gestures {
    hot-corners {
        //off
    }
}
