window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}

window-rule {
  match app-id="fcitx5"
  open-floating true
}

window-rule {
  match title=".*选择文件.*"
  match title=".*保存.*"
  match title=".*查看器.*"
  match title=".*通知.*"
  match title=".*完成.*"
  match title="wps"
  match title="et"
  match title="wpp"
  open-floating true
}


window-rule {
  match app-id="mpv"
  match app-id="gThumb"
  open-focused false
  open-floating true
}

window-rule {
    match app-id=r#"chrome"#
    default-column-width { proportion 1.0; }
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    draw-border-with-background false
}
